@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap");

.wave-svg {
  width: 100%;
  fill: rgb(0, 0, 0);
  /* height: 40vh; */
  height: 250px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

.hero-section {
  /* margin-top: 17vh; */
  /* margin-top: 200px; */
  margin-top: 30vh;
  text-align: center;
}

.landing {
  height: 70vh;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16rem;
  font-weight: 700;
  margin: 0;
}

p {
  font-style: italic;
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(90, 89, 89);
  margin: 0;
}

.pro-span {
  color: aqua;
  text-decoration: line-through;
}

.light-text {
  font-weight: 100;
}
