.nav-bar {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  justify-content: space-between;
  /* background-color: aqua; */
}

.nav-bar-links {
  display: flex;
  flex-direction: row;
}

.nav-bar-links > a {
  color: #fff;
  margin: 2rem 3rem 2rem 1rem;
  font-weight: 100;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.nav-bar-links > a:hover {
  color: aqua;
  /* color: rgb(95, 84, 194); */
  font-size: 1.2rem;
}

/* language-change styles */

.language-switch {
  margin-top: 1rem;
}

.arrow-down-icon {
  cursor: pointer;
}

.arrow-down-icon:hover path {
  fill: aqua;
}

/* end language-change styles */

/* responsive query */

@media screen and (max-width: 500px) {
  .nav-bar {
    left: 0;
    justify-content: center;
  }
  .nav-bar > a {
    margin: 2rem 2rem 2rem 1rem;
  }
}

@media screen and (max-width: 370px) {
  .nav-bar {
    left: 0;
    justify-content: center;
    font-size: smaller;
  }
  .nav-bar > a {
    margin: 2rem 1rem 2rem 1rem;
  }
}
