.nav-bar {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  justify-content: space-between;
  /* background-color: aqua; */
}

.nav-bar-links {
  display: flex;
  flex-direction: row;
}

.nav-bar-links > a {
  color: #fff;
  margin: 2rem 3rem 2rem 1rem;
  font-weight: 100;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav-bar-links > a:hover {
  color: aqua;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

/* language-change styles */

.language-switch {
  margin-top: 1rem;
}

.arrow-down-icon {
  cursor: pointer;
}

.arrow-down-icon:hover path {
  fill: aqua;
}

/* end language-change styles */

/* responsive query */

@media screen and (max-width: 500px) {
  .nav-bar {
    left: 0;
    /* justify-content: center; */
  }
  .nav-bar-links > a {
    margin: 2rem 1rem 2rem 1rem;
  }
}

@media screen and (max-width: 370px) {
  .nav-bar {
    left: 0;
    font-size: smaller;
  }
  .nav-bar > a {
    margin: 2rem 0.5rem 2rem 1rem;
  }
}

@media screen and (max-width: 340px) {
  .nav-bar {
    font-size: x-small;
  }
}
