.project {
  margin: 2rem 2rem 2rem 2rem;
  max-width: 900px;
}
.project-title {
  text-align: left;
  color: inherit;
  color: aqua;
}

.project-about {
  float: left;
  text-align: left;
}

.project-about > p {
  color: inherit;
  display: flex;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.project-contents {
  display: flex;
  flex-direction: row;
}

.project-img {
  display: flex;
}
.project-img > img {
  height: 300px;
  width: 400px;
  vertical-align: top;
  border: 3px solid rgb(30, 30, 30);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  -ms-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
}

.project-img > img:hover {
  border-color: aqua;
}

.skills-link-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 650px) {
  .project-img > img {
    width: 95%;
  }
  .project-title {
    text-align: center;
  }
  .project {
    margin: 1rem;
  }
  .project-contents {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .project-img {
    display: flex;
    justify-content: center;
  }

  .project-about {
    float: none;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .project-about > p {
    color: inherit;
    display: flex;
    font-size: 0.9rem;
    padding-left: 0.5rem;
  }
}
