.project {
  margin: 2rem 0 2rem 0;
  position: relative;
  color: aqua;
}
.project-title {
  text-align: left;
  color: inherit;
}

.project-about > p {
  color: inherit;
}

.project-contents {
  display: flex;
  flex-direction: row;
}
