@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: rgb(20, 20, 20);
}

#projects {
  scroll-margin-top: 150px;
}

#skills {
  scroll-margin-top: 400px;
}

#about {
  scroll-margin-top: 150px;
}

.App {
  text-align: center;
}

.project-section-dark {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: rgb(0, 0, 0);
}

.project-section-light {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: rgb(20, 20, 20);
}

.skills-section {
  height: 400px;
  margin: 5rem 0 5rem 0;
  display: flex;
}

.about-section {
  height: 500px;
  background-color: rgb(0, 0, 0);
  display: flex;
}

.contact-section {
  height: 400px;
  display: flex;
}

@media screen and (max-width: 600px) {
  .about-section {
    height: fit-content;
  }

  .skills-section {
    height: fit-content;
  }
}
