@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: rgb(20, 20, 20);
}
.App {
  text-align: center;
}

.project-section {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.static-svg {
  width: 100%;
  /* fill: rgb(95, 84, 194); */
  /* fill: aqua; */
  /* fill: rgb(27, 154, 204); */
  fill: #fff;
  /* height: 40vh; */
  height: 150px;
  position: relative;
  left: 0;
  top: 0;
}
